<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject"
        tools:targetApi="31">

        <!-- Activities -->
        <activity android:name=".Activity6" android:exported="false" />
        <activity android:name=".Activity5" android:exported="false" />

        <activity android:name=".Activity2" />
        <activity android:name=".Activity3" />
        <activity android:name=".Activity4" />
        <activity android:name=".FinSignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AllowLocationActivity" />
        <activity android:name=".HomePage" />
        <activity android:name=".Home2Activity" />
        <activity android:name=".MyAnnouncementsActivity" />
        <activity android:name=".NewAnnouncementActivity" />
        <activity android:name=".SignupAssociation1Activity" />
        <activity android:name=".SignupAssociation2Activity" />
        <activity android:name=".SignupAssociation3Activity" />
        <activity android:name=".SignupMerchant1Activity" />
        <activity android:name=".SignupMerchant2Activity" />
        <activity android:name=".SignupMerchant3Activity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".AdminUsersActivity" />
        <activity android:name=".FinSignupMerchantActivity" />
        <activity android:name=".FinSignupAssociationActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".TransactionsActivity" />



        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>